.add-user {
    display: flex;
    flex-direction: row;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 20px;
}
.input {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.add-btn {
    padding: 10px;
    width: 75px;
    height: 75px;
    margin: 22px 0 0 10px;
}
